<div class="container content-checkout" *ngIf="position == 'checkout'">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-2 logo-checkout" src="/assets/images/logo.png" alt="">
    <h2 class="title-checkout">Checkout de productos</h2>
  </div>

  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Tus productos</span>
        <span class="badge badge-secondary badge-pill">{{totalProduct}}</span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let item of resumeProduct; let i=index">
          <div>
            <h6 class="my-0">{{item.productName}}</h6>
          </div>
          <span class="text-muted">{{item.totalPrice}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>Total</span>
          <strong>${{totalPrice}}</strong>
        </li>
      </ul>
    </div>
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3 subtitules">Datos de pago</h4>
      <form class="needs-validation" novalidate="">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">Nombre</label>
            <input type="text" class="form-control" id="first_name" name="firstName" [(ngModel)]="firstName">
            <div class="invalid-feedback">
              Nombre debe ser válido
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Apellido</label>
            <input type="text" class="form-control" id="last_name" name="lastName" [(ngModel)]="lastName">
            <div class="invalid-feedback">
              Apellido debe ser válido
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="rut">Rut</label>
          <input type="text" class="form-control" id="rut" name="rut" [(ngModel)]="rut">
          <div class="invalid-feedback">
            Por favor un rut válido
          </div>
        </div>

        <div class="mb-3">
          <label for="email">Email <span class="text-muted">(Optional)</span></label>
          <input type="email" class="form-control" id="mail" name="mail" [(ngModel)]="mail" placeholder="you@example.com">
          <div class="invalid-feedback">
            Por favor ingrese una dirección de email válida
          </div>
        </div>

        <hr class="mb-4">

        <h4 class="mb-3 subtitules">Medios de pago</h4>

        <div class="d-block my-3">
          <div class="custom-control custom-radio">
            <input id="kiphu" name="paymentMethod" type="radio" class="custom-control-input" required="" checked>
            <label class="custom-control-label" for="kiphu">Kiphu</label>
          </div>
        </div>
        <hr class="mb-4">
        <app-modal-payment [resumeProduct]="resumeProduct" [totalPrice]="totalPrice" [firstName]="firstName" [lastName]="lastName"
          [rut]="rut" [mail]="mail" (eventSale)="eventSale($event)"></app-modal-payment>
      </form>
    </div>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">© 2017-2018 Confecciones Margarita del Villar</p>
  </footer>
</div>

<div class="content-message" *ngIf="position == 'messageSale'">
  <div class="py-5 text-center">
    <div class="container">
      <img class="d-block mx-auto mb-4 logo-checkout" src="/assets/images/logo.png" alt="" width="72" height="72">

      <img src="/assets/images/thanks.png" alt="">
      <h4>{{messageSale}}</h4>

      <div class="row mt-5">
        <div class="col-12">
          <div class="card card-retirement">
            <div class="card-body">
              <h5 class="card-title">Código de retiro</h5>
              <p class="card-text font-weight-light">[ {{retirementCode}} ]</p>

              <a [routerLink]="[ '/']" class="btn btn-outline-success" *ngIf="statusSale">Volver</a>

              <a class="btn btn-outline-warning" *ngIf="!statusSale" (click)="showCheckout()">Ir a checkout</a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>