<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Editar usuario</h4>
  </div>
  <div class="modal-body">
    <form class="registry-form" [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="input_name">Nombre</label>
          <input type="email" class="form-control" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
            placeholder="Nombre">
        </div>
        <div class="form-group col-md-6">
          <label for="input_lastname">Apellido</label>
          <input type="text" class="form-control" formControlName="lastname" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }"
            placeholder="Apellido">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="input_rut">Rut</label>
          <input type="text" class="form-control" formControlName="rut" [ngClass]="{ 'is-invalid': submitted && f.rut.errors }"
            placeholder="Rut">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="input_email">Email</label>
          <input type="email" class="form-control" formControlName="mail" [ngClass]="{ 'is-invalid': submitted && f.mail.errors }"
            placeholder="Email">
        </div>
        <div class="form-group col-md-6">
          <label for="input_telephone">Telefono</label>
          <input type="text" class="form-control" formControlName="telephone" [ngClass]="{ 'is-invalid': submitted && f.telephone.errors }"
            placeholder="Telefono">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="perfil">Perfil</label>
          <select class="form-control">
            <option [value]="undefined" disabled>Seleccionar</option>
            <option *ngFor="let profile of profilesPage" [value]="profile" [selected]="profile.id == userProfileId">{{profile.name}}</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="password">Password</label>
          <input type="password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
            placeholder="Password">
        </div>
        <div class="form-group col-md-6">
          <label for="password">Reingresar Password</label>
          <input type="password" class="form-control" formControlName="repassword" [ngClass]="{ 'is-invalid': submitted && f.repassword.errors }"
            placeholder="Reingresar Password">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <button type="button" class="btn btn-outline-dark mr-3" (click)="modal.close('Save click')">Cerrar</button>
          <button type="button" class="btn btn-outline-dark" (click)="onSubmit()">Guardar</button>
        </div>
      </div>
    </form>
  </div>

  <div class="pl-3 pr-3">
    <div *ngIf="objMsg.display" class="alert" [ngClass]="{'alert-success': objMsg.type == 'success', 'alert-danger': objMsg.type == 'error'}">
      {{objMsg.msg}}
    </div>
  </div>
</ng-template>