<div class="container">
  <div class="col-8">
    <form class="form-inline">
      <div class="form-group col-6">
        <label for="name" class="label">Nombre</label>
        <input type="text" class="input col-12" id="name" required>
      </div>

      <div class="form-group col-6">
        <label for="company" class="label">Empresa</label>
        <input type="text" class="input col-12" id="company">
      </div>

      <div class="form-group col-6">
        <label for="name" class="label">Nombre</label>
        <input type="text" class="input col-12" id="name" required>
      </div>

      <div class="form-group col-6">
        <label for="alterEgo" class="label">Empresa</label>
        <input type="text" class="input col-12" id="alterEgo">
      </div>

      <div class="form-group col-12">
        <label for="alterEgo" class="label">Mensaje</label>
        <textarea class="textarea col-12" rows="5" id="comment"></textarea>
      </div>

    </form>
    <br>
    <div class="col-4 text-center">
      <button type="submit" class="btn-send btn btn-outline-light text-center col-9">Enviar</button>
    </div>
  </div>
</div>