.input {
background-color: #f8f8f8;
border:1.5px solid;
border-color: #e9e9e9;
height: 50px;
}

.label{
    font-weight: 500;
}

.textarea {
    background-color: #f8f8f8;
    border:1.5px solid;
    border-color: #e9e9e9;
    }

.btn-send {
    border-radius: 0px;
    border:1.5px solid;
    border-color: #f71f44;
    color: black;
    height: 50px;
    font-weight: 500;
}

.contact h2 {
    color: rgb(247, 31, 68);
    /*font-family: initial;*/
    font-weight: bold;
    line-height: 200%;
}

.btn-sep {
    padding-top: 20px;
    padding-bottom: 20px;
}