<div class="container">
  <div class="row contact">
    <div class="col-4">
      <h2>Contacto</h2>
      <h4>Margarita del Villar</h4>
      <h4>Confecciones</h4>
      <ul>
        <li>Celular:</li>
        <li>+56 9 9165 2184</li>
        <li>+56 9 9222 1890</li>
        <li>E-mail:</li>
        <li>m.caceres@margaritadelvillar.cl</li>
      </ul>
    </div>
    <div class="col-8">
      <form class="form-inline">
        <div class="form-group col-6">
          <label for="name" class="label">Nombre</label>
          <input type="text" class="input col-12" id="name" required>
        </div>

        <div class="form-group col-6">
          <label for="company" class="label">Empresa</label>
          <input type="text" class="input col-12" id="company">
        </div>

        <div class="form-group col-6">
          <label for="name" class="label">Nombre</label>
          <input type="text" class="input col-12" id="name" required>
        </div>

        <div class="form-group col-6">
          <label for="alterEgo" class="label">Empresa</label>
          <input type="text" class="input col-12" id="alterEgo">
        </div>

        <div class="form-group col-12">
          <label for="alterEgo" class="label">Mensaje</label>
          <textarea class="textarea col-12" rows="5" id="comment"></textarea>
        </div>

      </form>
      <br>
      <div class="col-4 text-center">
        <button type="submit" class="btn-send btn btn-outline-light text-center col-9">Enviar</button>
      </div>
    </div>
  </div>
</div>