<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="mt-5 mb-3">
        <div class="form-inline">
          <h2 class="mb-4">Ventas de Clientes</h2>
          <label class="sr-only" for="input_search">Búsqueda</label>
          <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fas fa-search"></i></div>
            </div>
            <input type="email" class="form-control" id="input_search" #inputSearch placeholder="Búsqueda">
          </div>
          <button type="submit" class="btn btn-primary mb-2" (click)="getSales(inputSearch.value)">Buscar</button>
        </div>
      </div>

      <div *ngIf="sale">
        <div class="row">
          <div class="col-md-12 mb-3">
            <h4>Nombre Cliente : {{name + ' ' + lastName}}</h4>
          </div>
        </div>

        <div class="card mb-3" *ngFor="let item of sale">
          <div class="card-header">
            Identificador de Venta: {{item.code}}
          </div>
          <div class="card-body">
            <p class="card-text">Fecha de la venta: {{item.created_at | date:'short'}}</p>
            <p class="card-text">Estado de la entrega:
              <span class="badge badge-success">{{item.delivered ? 'Entregado' : 'Pendiente'}}</span>
            </p>            
            <a class="btn btn-primary" (click)="modalSaleDetail.open(name, lastName, item)">Ver detalle</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-sale-detail #modalSaleDetail></app-sale-detail>
<notifier-container></notifier-container>