<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <div class="d-flex flex-grow-1">
      <a class="navbar-brand" [routerLink]="['/']">
        <img src="assets/images/img-navbar.png" height="35" class="d-inline-block align-top" alt="">
      </a>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" *ngIf="navbarService.control">
      <ul class="navbar-nav ml-auto flex-nowrap">
        <li class="nav-item">
          <a [ngx-scroll-to]="'#company'" class="nav-link m-2 menu-item nav-active">EMPRESA</a>
        </li>
        <li class="nav-item">
          <a [ngx-scroll-to]="'#clothes'" class="nav-link m-2 menu-item">UNIFORME</a>
        </li>
        <li class="nav-item">
          <a [ngx-scroll-to]="'#location'" class="nav-link m-2 menu-item">UBICACIÓN</a>
        </li>
        <li class="nav-item">
          <a [ngx-scroll-to]="'#contact'" class="nav-link m-2 menu-item">CONTACTO</a>
        </li>
      </ul>
    </div>
    <div class="d-flex flex-grow-1 ml-4" *ngIf="navbarService.control">
      <a [routerLink]="['/login']" class="btn btn-outline-light btn-login">Login</a>
    </div>
  </div>
</nav>