.navbar {
    background-color: rgb(247, 31, 68);
}

.navbar .menu-item {
    color: white;
    font-weight: 400;
}

.navbar .menu-item:hover {
    color: #dbd6d6;
}

.btn-login,
.btn-logout {
    width: 200px;
    border-radius: 0;
}