<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <div class="d-flex flex-grow-1">
      <a class="navbar-brand" [routerLink]="['/']">
        <img src="assets/images/logo.png" height="70px" class="d-inline-block align-top" alt="">
      </a>
    </div>

    <div class="collapse navbar-collapse flex-grow-1 text-right">
      <ul class="navbar-nav ml-auto flex-nowrap">
        <li class="nav-item">
          <a class="nav-link m-2 menu-item nav-active" (click)="goToCart()">
            <i class="fas fa-shopping-cart"></i> {{totalItems}}
          </a>
        </li>
        <li class="nav-item" *ngIf="route == 'ROOT'">
          <a [ngx-scroll-to]="'#company'" class="nav-link m-2 menu-item nav-active">EMPRESA</a>
        </li>
        <li class="nav-item" *ngIf="route == 'ROOT'">
          <a [ngx-scroll-to]="'#clothes'" class="nav-link m-2 menu-item">UNIFORME</a>
        </li>
        <li class="nav-item" *ngIf="route == 'ROOT'">
          <a [ngx-scroll-to]="'#location'" class="nav-link m-2 menu-item">UBICACIÓN</a>
        </li>
        <li class="nav-item" *ngIf="route == 'ROOT'">
          <a [ngx-scroll-to]="'#contact'" class="nav-link m-2 menu-item">CONTACTO</a>
        </li>
        <li class="nav-item" *ngIf="authService.permissions.indexOf('retirement') > -1">
          <a class="nav-link m-2 menu-item" [routerLink]="[ '/retiro']"><i class="fab fa-creative-commons-remix nv-icon-retirement"></i> ENTREGA PRODUCTOS</a>
        </li>
      </ul>
    </div>
    <div *ngIf="authService.permissions?.length > 0">
      <div>
        <div *ngIf="loggedIn" ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-light" id="dropdownBasic1" ngbDropdownToggle>Opciones</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a class="dropdown-item" [routerLink]="[ '/usuario']" *ngIf="authService.permissions.indexOf('users') > -1">Usuarios</a>
            <a class="dropdown-item" [routerLink]="[ '/producto']" *ngIf="authService.permissions.indexOf('users') > -1">Producto</a>
            <a class="dropdown-item" [routerLink]="[ '/existencia']" *ngIf="authService.permissions.indexOf('users') > -1">Existencia</a>
          </div>
        </div>
      </div>

    </div>
    <div class="d-flex ml-4" *ngIf="!loggedIn">
      <a [routerLink]="['/login']" class="btn btn-outline-light btn-login float-right">Login</a>
    </div>
    <div class="d-flex ml-4" *ngIf="loggedIn">
      <a (click)="onLogout()" class="btn btn-outline-light btn-logout float-right">Cerrar Sesión</a>
    </div>
  </div>
</nav>