<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Editar existencia</h4>
    </div>
    <div class="modal-body">
        <form class="registry-form" [formGroup]="editForm" (ngSubmit)="onSubmit()">

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="input_quantity">Cantidad</label>
                    <input type="number" #txt_quantity class="form-control" formControlName="quantity" [ngClass]="{ 'is-invalid': submitted && dataForm.quantity.errors }"
                        placeholder="Cantidad">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="input_price">Precio</label>
                    <input type="number" #txt_price class="form-control" formControlName="price" [ngClass]="{ 'is-invalid': submitted && dataForm.price.errors }"
                        placeholder="Precio">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <button type="button" class="btn btn-outline-dark mr-3" (click)="modal.close('Save click')">Cerrar</button>
                    <button type="button" class="btn btn-outline-dark" [disabled]="txt_quantity.value == '' || txt_price.value == ''"
                        (click)="onSubmit()">Guardar</button>
                </div>
            </div>

        </form>
    </div>

    <notifier-container></notifier-container>
</ng-template>