<div class="shoppingcart">
  <div class="content p-5">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4" *ngFor="let item of (obsProductSaved | async)">
            <div class="card">
              <div class="content-img mx-auto">
                <img class="img-shoppingcart" src="{{item.image}}" height="160" width="160" alt="Card image cap">
              </div>
              <div class="card-body">
                <h5 class="card-title">{{item.productName}}</h5>
                <p class="card-text">{{item.genderText}}</p>

                <hr>

                <div>
                  <div *ngFor="let itemSizes of item.sizes">
                    <label class="mr-2">Talla: {{itemSizes.textSize}}</label>
                    <label>Cantidad: {{itemSizes.quantity}}</label> <br>
                    <label>Precio: ${{itemSizes.quantity * itemSizes.price}}</label>
                  </div>

                  <hr>
                </div>

                <nav><button class="btn btn-danger" (click)="deleteProductCart(item.productId)"><i class="far fa-trash-alt"></i></button></nav>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-3">
        <h2>Tu carrito</h2>
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let item of (obsProductResume | async)">
              {{ item.productName }} | ${{ item.totalPrice }}
            </li>
          </ul>
        </div>

        <div class="card mt-3">
          <div class="card-body">
            Total de la compra ${{totalPrices}}
          </div>
        </div>

        <div class="mt-3">
          <button type="button" class="btn btn-primary btn-lg btn-block" (click)="backButton()">Volver atrás</button>
          <a [routerLink]="[ '/checkout' ]" class="btn btn-success btn-lg btn-block">Realizar pago</a>
        </div>
      </div>
    </div>
  </div>
</div>