<div class="container">
  <h2 class="mt-4 mb-4">Listado de usuarios</h2>

  <app-user-add (reloadDt)="resetDatatables()"></app-user-add>

  <table datatable [dtOptions]="dtOptions" class="row-border hover tbl-users">
    <thead>
      <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngIf="users?.length != 0">
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.lastname }}</td>
        <td>
          <button class="btn btn-md p-0 mr-3" (click)="modalEdit.open(user.id, user.name, user.lastname)"><img class="img-table" src="/assets/images/pencil.png"></button>
          <button class="btn btn-md p-0" (click)="modalDelete.open(user.id)"><img class="img-table" src="/assets/images/cancel.png"></button>
        </td>
      </tr>
    </tbody>
    <tbody *ngIf="users?.length == 0">
      <tr>
        <td colspan="3" class="no-data-available">No data!</td>
      </tr>
    <tbody>
  </table>
</div>

<app-user-edit #modalEdit (reloadDt)="resetDatatables()"></app-user-edit>
<app-user-delete #modalDelete (reloadDt)="resetDatatables()"></app-user-delete>